<!DOCTYPE html>
<html>
<head>
	<title>Course List</title>
</head>
<script type="text/javascript">
	
</script>
<body>
<form action="/search/courses" method="get">
	<select name="course">
		<% for (i=0; i < courses.length; i++) {%>
			<option value="<%=courses[i]%>"><%=courses[i]%></option>
		<%}%>
	</select>
	<input type="submit" value="Search">
</form>
</body>
</html>