#app{
	width: 400px;
	height: 100%;
	margin: 0 auto;
	border: 2px solid black;
}

#infoForm{
	text-align: center;
}
#courseName{
	border-radius: 25px;
	text-align: center;
	width: 150px;
}

#startGame{
	width: 100px;
	background-color: lightgreen;
	border-radius: 25px;
}

#scoreCard {
	margin-top: 25px;
	text-align: center;
}

.scorecardHeader{
	padding: 0px 10px 0px 10px;
	font-size: 20px;
}

